.container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(29, 193, 205, 0.25);
  transition: all 0.3s;
  margin-bottom: 20px;
}

.border {
    border-bottom: 1px solid rgba(29, 193, 205, 0.25);
}

.inputArea {
    width: 250px;
    height: 38px;
    border: 0px;
    border-radius: 4px;
    outline: none;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 2px;
}

.inputArea::placeholder {
    color: rgba(7, 98, 245, 0.5);
  }

.focused {
    transition: all 0.5s;
    border-bottom: 3px solid rgba(29, 193, 205, 0.25);
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-group {
    margin-bottom: 1rem;
}

.is-invalid {
    display: block;
    width: auto;
    margin-top: .25rem;
    font-size: auto;
    color: #dc3545;
}

.invalid-feedback {
    display: block;
    width: auto;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}