.loginButton {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  width: 300px;
  max-width: 300px;

  margin-top: 40px;
  border: 1px solid rgba(7, 98, 245, 0.5);
  border-radius: 4px;

  font-size: 1em;
  font-weight: 600;
  color: rgba(7, 98, 245, 0.5);

  background-color: white;
  cursor: pointer;
  user-select: none;

  transition: all 0.5s;
}

.focused {
    background-color: whitesmoke;
    border: 3px solid rgba(7, 98, 245, 0.5);
}